body{
    background: rgb(130, 130, 243);
    font: normal 15pt Arial;
}

header{
    color:white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;/*largura*/
    margin: auto;
    box-shadow: 5px 5px 10px black; /*sombra*/
}
footer{
    color:white;
    text-align: center;
    font-style: italic;

}